
[usage]
reportName = "Extended Student Domain Scores with Event Details"
activated = true
outputFileName = "./out/system_reports/compareRRDtests.csv"

# Order of fields below is left to right order
# columns will appear in final output, can be changed as needed.
# Double brackets required to ensure map is created as array to preserve order
# commenting out a key/value pair will remove that column from the
# final report
#
[[fields]]
"School" = "CalculatedFields.SchoolId"
[[fields]]
"YrLevel" = "CalculatedFields.YrLevel"
[[fields]]
"Domain" = "CalculatedFields.Domain"
#
# fields above are for report splitting 
#

[[fields]]
"ACARA ID" = "SchoolInfo.ACARAId"
[[fields]]
"School Name" = "SchoolInfo.SchoolName"
[[fields]]
"Family Name" = "StudentPersonal.PersonInfo.Name.FamilyName"
[[fields]]
"Given Name" = "StudentPersonal.PersonInfo.Name.GivenName"
[[fields]]
"Student PSI" = "StudentPersonal.OtherIdList.OtherId.#[Type==NAPPlatformStudentId].value"
[[fields]]
"Test Level" = "NAPTest.TestContent.TestLevel.Code"
[[fields]]
"Test Domain" = "NAPTest.TestContent.Domain"
[[fields]]
"Parallel Path" = "NAPStudentResponseSet.ParallelTest"
[[fields]]
"Participation" = "NAPEventStudentLink.ParticipationCode"
[[fields]]
"Date" = "NAPEventStudentLink.Date"
[[fields]]
"Start Time" = "NAPEventStudentLink.StartTime"
