
[usage]
reportName = "Reports comparison of events and responses for each student"
activated = true
outputFileName = "./out/qa/systemObjectFrequency.csv"

# Order of fields below is left to right order
# columns will appear in final output, can be changed as needed.
# Double brackets required to ensure map is created as array to preserve order
# commenting out a key/value pair will remove that column from the
# final report
#
[[fields]]
"School" = "CalculatedFields.SchoolId"
[[fields]]
"YrLevel" = "CalculatedFields.YrLevel"
[[fields]]
"Domain" = "CalculatedFields.Domain"
#
# fields above are for report splitting 
#

[[fields]]
"PSI" = "StudentPersonal.OtherIdList.OtherId.#[Type==NAPPlatformStudentId].value"
[[fields]]
"Events Count" = "CalculatedFields.ObjectFrequency.EventsCount"
[[fields]]
"P/R/S Events Count" = "CalculatedFields.ObjectFrequency.PRSEventsCount"
[[fields]]
"Responses_Count" = "CalculatedFields.ObjectFrequency.ResponsesCount"

[[fields]]
"P/R/S Reading Event" = "CalculatedFields.ObjectFrequency.Reading.NAPEventStudentLink"
[[fields]]
"Reading Event Has Response" = "CalculatedFields.ObjectFrequency.Reading.NAPStudentResponseSet"

[[fields]]
"P/R/S Writing Event" = "CalculatedFields.ObjectFrequency.Writing.NAPEventStudentLink"
[[fields]]
"Writing Event Has Response" = "CalculatedFields.ObjectFrequency.Writing.NAPStudentResponseSet"

[[fields]]
"P/R/S Spelling Event" = "CalculatedFields.ObjectFrequency.Spelling.NAPEventStudentLink"
[[fields]]
"Spelling Event Has Response" = "CalculatedFields.ObjectFrequency.Spelling.NAPStudentResponseSet"

[[fields]]
"P/R/S G&P Event" = "CalculatedFields.ObjectFrequency.GrammarAndPunctuation.NAPEventStudentLink"
[[fields]]
"G&P Event Has Response" = "CalculatedFields.ObjectFrequency.GrammarAndPunctuation.NAPStudentResponseSet"

[[fields]]
"P/R/S Numeracy Event" = "CalculatedFields.ObjectFrequency.Numeracy.NAPEventStudentLink"
[[fields]]
"Numeracy Event Has Response" = "CalculatedFields.ObjectFrequency.Numeracy.NAPStudentResponseSet"



